body {
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	top: 50vw;
	left: 50vh;
	transform: translate(-50vh, -50vw);
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #525D78;
	vertical-align: middle; 
 	text-align: center;
}

h3, p {width: max-content}


#content {
	margin: 10% auto;
	width: 80%;
	height: max-content;
	text-align: left;
}

#main {
	margin: 0 auto;
	word-wrap:break-word;
	width: min-content;
	height: min-content;
	background: rgba(30, 30, 30, 0.1);
	padding: 1px 35px 10px 35px;
	border-left: #1DA1F2 solid 3px;
	border-right: #1DA1F2 solid 3px;
}
